<html>
    <head>
        <link rel="stylesheet" href="/frontend/static/index.css">
    </head>
    <body>
        <form>
            <input type="file" id="FileUploader">
            <p id="FileName">Drag your files here or click in this area.</p><br>
            <button type="button" id="SubmitButton" disabled>Upload</button>
            <span id="fileError" style="color: red;"></span><br>
        </form>

        <script>
            let g_file_error =  document.getElementById('fileError');
            document.getElementById('FileUploader').addEventListener('change', function () {
                const file = this.files[0];
                const upload_button = document.getElementById('SubmitButton');
                document.getElementById('FileName').textContent = file.name;
                g_file_error.textContent = '';
                if (file) {
                    if (!file.type.includes('application/vnd.openxmlformats-officedocument.spreadsheetml.sheet')) {
                        g_file_error.style.color = 'red';
                        g_file_error.textContent = 'Invalid file format. Must be required excel file';
                        upload_button.disabled = true;
                    } else if (file.size > 5 * 1024 * 1024) {
                        g_file_error.style.color = 'red';
                        g_file_error.textContent = 'Make sure file size less than 5 Mb';
                        upload_button.disabled = true;
                    } else {
                        upload_button.disabled = false;
                    }
                } else {
                    upload_button.disabled = true;
                }
            });

            document.getElementById('SubmitButton').addEventListener('click', function () {
                const file = document.getElementById('FileUploader').files[0];
                if (file) {
                    uploadFile(file);
                    return;
                }
                g_file_error.style.color = 'red';
                g_file_error.textContent = 'Please select a file before upload';
            });

            function uploadFile(file) {
                const form_data = new FormData();
                form_data.append('file', file);
                const xhr = new XMLHttpRequest();
                xhr.open('POST', '/upload', true);
                xhr.onload = function () {
                    g_file_error.textContent = '';
                    if (xhr.status === 200) {
                        const response = JSON.parse(xhr.response);
                        if (response) {
                            if (!displayValidMessage(response)) {
                                return;
                            }
                            const byteCharacters = atob(response.Binary);
                            const byteNumbers = new Array(byteCharacters.length);
                            for (let i = 0; i < byteCharacters.length; i++) {
                                byteNumbers[i] = byteCharacters.charCodeAt(i);
                            }
                            const byteArray = new Uint8Array(byteNumbers);
                            const blob = new Blob([byteArray]);
                            const url = window.URL.createObjectURL(blob);
                            const link = document.createElement('a');
                            link.href = url;
                            link.download = response.FileName;
                            document.body.appendChild(link);
                            link.click();
                            window.URL.revokeObjectURL(url);
                            displayValidMessage(response);
                            return;
                        }
                        displayValidMessage(response);
                        return
                    } else if (xhr.status == 400) {
                        displayValidMessage(xhr.responseText);
                        return
                    }
                    g_file_error.style.color = 'red';
                    g_file_error.textContent = 'File upload failed';
                }
                xhr.send(form_data);
            }

            function displayValidMessage(
                json_response
            ) {
                if (json_response) {
                    g_file_error.style.color = 'green';
                    g_file_error.textContent = json_response.Message;
                    if (json_response.Result === 'ERROR') {
                        g_file_error.style.color = 'red';
                        return false;
                    }
                    clean();
                    return true;
                }
                g_file_error.style.color = 'red';
                g_file_error.textContent = 'Invalid json response';
            }

            function clean() {
                document.getElementById('FileUploader').value = '';
                document.getElementById('FileName').textContent = 'Drag your files here or click in this area.';
            }

        </script>
    </body>
</html>
