<html>
    <head>
        <link rel="stylesheet" href="/frontend/static/index.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Resume extractor - Extract keywords from uploaded resumes">
        <meta name="keywords" content="Resume, extractor, keywords, upload">
        <meta name="author" content="Your Name">
        <meta name="robots" content="index, follow">
        <meta property="og:title" content="Resume Extractor">
        <meta property="og:description" content="Extract keywords from uploaded resumes with ease.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://patel33hardik.pythonanywhere.com/">
        <meta property="og:image" content="https://patel33hardik.pythonanywhere.com/">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@yourtwitterhandle">
        <meta name="twitter:title" content="Resume Extractor">
        <meta name="twitter:description" content="Extract keywords from uploaded resumes with ease.">
        <meta name="twitter:image" content="https://patel33hardik.pythonanywhere.com/">
        <title>Extract PDF Resume using keywords</title>
    </head>
    <body>
        <nav>
            <ul class="menu">
                <li><a href="/" class="/">Excel password remover</a></li>
                <li><a href="/extract_resume" class="extract_resume">Extract Resume keyword</a></li>
            </ul>
        </nav>
        <div class="title">
            Extract PDF Resume using keywords
        </div>
        <div class="form-container">
            <div class="form-border">
                <label for="Keywords">Enter keywords: e.x. "python, js, javascript, html, css"</label>
                <input type="text" id="Keywords">
            </div>
        </div>
        <form>
            <input type="file" id="FileUploader">
            <p id="FileName">Drag your PDF resumes file here or click in this area.</p><br>
            <button type="button" id="SubmitButton" disabled>Upload</button>
            <span id="fileError" style="color: red;"></span><br>
        </form>

        <script type="text/javascript" src="/frontend/static/app.js"></script>
        <script>
        </script>
    </body>
</html>
