<html>
    <head>
        <link rel="stylesheet" href="/frontend/static/index.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Resume extractor - Extract keywords from uploaded resumes">
        <meta name="keywords" content="Resume, extractor, keywords, upload">
        <meta name="author" content="Your Name">
        <meta name="robots" content="index, follow">
        <meta property="og:title" content="Resume Extractor">
        <meta property="og:description" content="Extract keywords from uploaded resumes with ease.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://patel33hardik.pythonanywhere.com/">
        <meta property="og:image" content="https://patel33hardik.pythonanywhere.com/">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@yourtwitterhandle">
        <meta name="twitter:title" content="Resume Extractor">
        <meta name="twitter:description" content="Extract keywords from uploaded resumes with ease.">
        <meta name="twitter:image" content="https://patel33hardik.pythonanywhere.com/">
        <title>Extract PDF Resume using keywords</title>
    </head>
    <body>
        <nav>
            <ul class="menu">
                <li><a href="/" class="/">Excel password remover</a></li>
                <li><a href="/extract_resume" class="extract_resume">Extract Resume keyword</a></li>
            </ul>
        </nav>
        <div class="title">
            Extract PDF Resume using keywords
        </div>
        <div class="form-container">
            <div class="form-border">
                <label for="Keywords">Enter keywords: e.x. "python, js, javascript, html, css"</label>
                <input type="text" id="Keywords">
            </div>
        </div>
        <form>
            <input type="file" id="FileUploader" multiple>
            <p id="FileName">Drag your PDF resumes file here or click in this area.</p><br>
            <button type="button" id="SubmitButton" disabled>Upload and Extract</button>
        </form>
        <div class="output-container">
            <div class="form-border">
                <label id="OutputWindow" style="color: red;"></label>
            </div>
        </div>

        <script type="text/javascript" src="/frontend/static/app.js"></script>
        <script>

            let g_output = document.getElementById('OutputWindow');
            document.getElementById('FileUploader').addEventListener('change', function () {
                const files = this.files;
                const upload_button = document.getElementById('SubmitButton');
                const content_info = document.getElementById('FileName');
                if (files.length > 10) {
                    upload_button.disabled = true;
                    g_output.textContent = 'Maximum 10 files can be selected.';
                    return false;
                }

                if (files.length > 0) {
                    let isValid = true;
                    let file_names = '';
                    for (let i = 0; i < files.length; i++) {
                        const file = files[i];
                        if (!file.type.includes('application/pdf')) {
                            g_output.style.color = 'red';
                            g_output.textContent = 'Invalid file format. Must be a PDF file';
                            isValid = false;
                            break;
                        } else if (file.size > 5 * 1024 * 1024) {
                            g_output.style.color = 'red';
                            g_output.textContent = 'Make sure file size is less than 5 MB';
                            isValid = false;
                            break;
                        }
                    }

                    const keywords_input = document.getElementById('Keywords');
                    const pattern = /^([a-zA-Z]+,)*[a-zA-Z]+$/;
                    if (!pattern.test(keywords_input.value)) {
                        g_output.textContent = 'Invalid keyword response. It should be like "python,js,css"';
                        isValid = false;
                        keywords_input.focus();
                    }

                    if (isValid) {
                        g_output.textContent = '';
                        upload_button.disabled = false;
                        content_info.textContent = `Total ${files.length} file(s) selected`;
                    } else {
                        upload_button.disabled = true;
                    }
                } else {
                    upload_button.disabled = true;
                    g_output.textContent = '';
                    content_info.textContent = 'Drag your PDF resumes file here or click in this area.';
                }
            });

            document.getElementById('SubmitButton').addEventListener('click', function () {
                const files = document.getElementById('FileUploader').files;
                if (files.length > 0) {
                    uploadFiles(files);
                    return;
                }
                g_output.style.color = 'red';
                g_output.textContent = 'Please select a file before upload';
            });

            function uploadFiles(files) {
                const form_data = new FormData();
                form_data.append('keywords', document.getElementById('Keywords').value)
                for (let i = 0; i < files.length; i++) {
                    form_data.append('files[]', files[i]);
                }

                const xhr = new XMLHttpRequest();
                xhr.open('POST', '/upload_resumes', true);
                xhr.onload = function () {
                    g_output.textContent = '';
                    const response = JSON.parse(xhr.response);
                    if (xhr.status === 200) {
                        displayValidMessage(response);
                        return;
                    } else if (xhr.status === 400) {
                        displayValidMessage(JSON.parse(xhr.responseText));
                        return;
                    }
                    g_output.style.color = 'red';
                    g_output.textContent = 'File upload failed';
                };
                xhr.send(form_data);
            }

            function displayValidMessage(
                json_response
            ) {
                if (json_response) {
                    g_output.style.color = 'green';
                    g_output.textContent = json_response.Message;
                    if (json_response.Result === 'ERROR') {
                        g_output.style.color = 'red';
                        return false;
                    }
                    clean();
                    return true;
                }
                g_output.style.color = 'red';
                g_output.textContent = 'Invalid json response';
            }

            function clean() {
                document.getElementById('FileUploader').value = '';
                document.getElementById('SubmitButton').disabled = true;
                document.getElementById('FileName').textContent = 'Drag your PDF resumes file here or click in this area.';
            }

        </script>
    </body>
</html>
